*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darksalmon;
    height: 100%;
}

div#container{
    background-color: rgb(255, 255, 255);
    max-width: 1120px;
    width: 80%;
    max-height: 3054px;
    height: 80%;
    margin: auto;
}